<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Address Search</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="css/main.css" media="screen">
        <script src="javascript/libs/jquery.min.js"></script>
        <script src="javascript/libs/angular.min.js"></script>
    </head>
    <body ng-app="peopleInfo" ng-cloak>
        <div class="container">
            <div id="form-wrapper" class="row">
                <form class="col-md-6" name="personForm" ng-controller="PersonController" ng-submit="personForm.$valid && addPerson(person)" novalidate form-autofill-fix>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="name-input">Name</label>
                        <input type="text" id="name-input" class="form-control" ng-model="person.name" pattern="(?:(\w+-?\w+)) (?:(\w+))(?: (\w+))?$" placeholder="Enter your name (example:John Doe)" title="Name" autofocus="autofocus" required>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="address-input">Address</label>
                        <input type="text" id="address-input" class="form-control" ng-model="person.address" placeholder="Enter your address" title="Address" required>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="email-input">Email</label>
                        <input type="email" id="email-input" class="form-control" ng-model="person.email" pattern="^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@([A-Z|a-z|0-9])+((\.){0,1}[A-Z|a-z|0-9]){2}\.[a-z]{2,3}$" placeholder="Enter your email" title="Email" required>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="phone-input">Phone</label>
                        <input type="tel" id="phone-input" class="form-control" ng-model="person.phone" pattern="[0-9]{10}" placeholder="Enter your phone (example: 0888123456)" title="Phone" required>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="website-input">Website</label>
                        <input
                            type="url"
                            id="website-input"
                            class="form-control"
                            ng-model="person.website"
                            pattern="([--:\w?@%&+~#=]*\.[a-z]{2,4}\/{0,2})((?:[?&](?:\w+)=(?:\w+))+|[--:\w?@%&+~#=]+)?"
                            placeholder="Enter your website (example: http://pcmania.bg)"
                            title="website"
                            required>
                    </div>
                    <div class="form-group text-center">
                        <button id="submit" ng-disabled="personForm.$invalid" ng-click="setMapLocation()" type="submit" class="btn btn-success">Submit</button>
                        <button id="manualLocation" class="btn btn-primary">Find location manually</button>
                    </div>
                </form>
                <div class="col-md-6">
                    <div id="googleMap" style="width:500px;height:380px;"></div>
                </div>
            </div>
            <div class="row" ng-controller="PeopleController">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="person in people">
                        <section class="name">
                            <h3>
                                {{person.name}}
                                <em class="pull-right">{{person.email}}</em>
                            </h3>
                        </section>
                        <section>
                            <h4>Person info</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <blockquote>
                                        <strong>Address</strong>
                                        :
                                        {{person.address}}</blockquote>
                                </li>
                                <li>
                                    <blockquote>
                                        <strong>Phone</strong>
                                        :
                                        {{person.phone}}</blockquote>
                                </li>
                                <li>
                                    <blockquote>
                                        <strong>Website</strong>
                                        :
                                        {{person.website}}</blockquote>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcfLLWsQlM01Mc3QYNjCZ4ht2Mn1YXa2o&libraries=places"></script>
        <script src="javascript/google-maps.js"></script>
        <script src="javascript/main.js"></script>
    </body>
</html>
